.App {
  text-align: center;
  display: flex;
  border: 2px solid green;
}

.row1{
  border: 2px dotted black;
  height: 500px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  border-radius: 20px;
}
.row2{
  border: 1px solid black;
  height: 600px;
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
}
.row3{
  border: 2px dotted black;
  height: 500px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
}

.Circle{
  border: transparent;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 100px;
  margin-left: 25px;
}
.Circle1{
  border: transparent;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /* margin-left: 25px; */
  margin: auto;
  margin-top: 15px;
}
input{
  margin-top: 50px;
  width: 350px;
  height: 60px;
  font-size: 30px;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
button{
  padding: 10px 40px;
  border: 2px solid grey;
  font-size: 20px;
}
button:hover{
  background-color: #C2DED1;
  color: #354259;
}